col {
    padding: 10px;
}

header {
    background-color: blue;
}

h1 {
    text-align: center;
}

h2 {
    color:rgba(16, 20, 51)
}

h5 {
    font-weight: 700;
}

.lead {
    text-align: center;
}

ul {
    list-style-type: none;
}

.card-body {
    border-radius: 10px;
    background-color: rgba(16, 20, 51, 0.6);
}

body {
    color: white;
    font-family: 'Work Sans', sans-serif;
}

.btn {
    background-color: tomato;
    color: white;
}